*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
*/build/
*/*/build/
*.class
*.apk
*.ap_
*.dex
*.aab
*.exe
*.msi
*.msix
*.dmg
*.app
*.AppImage
local.properties
key.properties
signing.properties
crashlytics-build.properties
